.reset-password-section {
  background: #e5e5e5;
  padding-top: 50px;
  padding-bottom: 60px;
  font-family: $font_UTM_BryantLG;

  .card-body-title {
    font-size: 30px;
    letter-spacing: -0.02em;
    color: #b2d235;
    -webkit-text-stroke-width: 1.5px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .card-body-subtitle {
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #505353;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group-enter-email-in-reset-password {
    padding-left: 20%;
    padding-right: 20%;
  }

  .input-style {
    background: #f2f2f2;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 0;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-reset-password {
    background: #b2d235;
    box-shadow: inset 0px 1.5px 2px #6f8710;
    border-radius: 22px;
    height: 42px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-text-stroke-width: 1px;

    &:hover {
        color: #505353;
    }
  }
}
